[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
psycopg2-binary = "==2.8.3"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
geoip2 = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
